/*Blog css codes*/

.blog-post{
    margin-top:0.5rem;
    margin-bottom:0.5rem;
    background: rgba(255,255,255,.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    backdrop-filter: blur(20px);
    border-radius:5px;
    font-family:sans-serif;
    color:#fff;
}
@media(min-width:576px){
    .blog-post{
        margin-top:0.8rem;
        margin-bottom:0.8rem;
    }
}
.blog-img{
    overflow:hidden;
    width:100%;
    height:auto;
    border-radius:0;
}

.blog-img-inner{
    overflow:hidden;
}

.blog-img-inner img{
    width:100%;
}
.blog-img-inner video{
    width:100%;
}

.blog-post-post div, .blog-post-post .blog-post-text, .blog-post-post .blog-hashtag{
    margin:0.4rem;
}
.blog-post-post .blog-hashtag a{
    font-family:"Kode Mono", monospace;
    text-decoration:none;
    color:#63b1e1;
}

.blog-post-post .blog-post-text a{
    color:#63b1e1;
    text-decoration: underline;
}


/* FORMATING*/
.pastgi-chiziq{/*pastgi chiziq*/
    text-decoration: underline;
}

.monospace{/*monospace mono bo'shliq*/
  font-family:monospace;
}
.f-kode{/*maxsus font*/
    font-family: "Kode Mono", monospace;
}
/*End formating*/
.blog-report p{
    text-align: right;
    opacity:0.8;
    font-size:0.7rem;
}