/*Main page styles*/

.main-text-box{
  z-index:10;
  justify-content:center;
  align-items:center;
  color:#fff;
}
.main-text p{
  color:#52b032;
  filter:drop-shadow(2px 0.3px 0.5px #000);
}
.main-text h2{
  filter:drop-shadow(2px 0.3px 0.5px #52b032);
  color:#d0f8d3;
  font-size:3rem;
  letter-spacing:1px;
}
/*Main Section*/
.main-section-img img{
  width:70%;
  margin-left:15%;
  margin-right:15%;
}
.main-text{
  margin-top:2rem;
  margin-bottom:2rem;
}
   /*Responsive*/
   @media(min-width:768px){
    .main-text{
      margin-top:6rem;
    }
    .main-section-img img{
      width:100%;
    }
    .main-text h2{
      filter:drop-shadow(2px 0.3px 0.5px #52b032);
      color:#d0f8d3;
      font-size:4rem;
      letter-spacing:1px;
    }
   }
   @media(min-width:992px){
    
   }
/*END*/

