

.second-section-img{
    border-radius: 50%;
    overflow:hidden;
    width:100%;
    display:flex;
    justify-content: center;
    align-items:center;
    border:4px solid rgb(22, 125, 13, 0.2);
    
}
.second-section-img img{
    width:120%;
    height:100%;
    position:relative;
    
}

@media(max-width:768px){
    .scnd-sctn-img{
        display: none;
    }
}