<!DOCTYPE html>

<!--About this web site:
    --Bu saytni o'z fantaziyamni ishga solgan holda yaratyapman--
    --Hacker rasmini internetdan yuklab oldim--
    --Matritsa uslubidagi animatsiyani ham o'zim yaratdim (hech qanday manbadan olinmagan!)--
-->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--title va title icon-->
    <title>Web sayt yaratish: Arzon, Sifatli va Ishonchli</title>
    <!--Kode mono font import-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap" rel="stylesheet">
    <!--Bootstrap static files-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
    <!--Font awesome (Icons)-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">



    <!--My static files link-->
    
    <link href="../css/shared.css" rel="stylesheet">
    <link href="../css/base.css" rel="stylesheet">
    <link href="../css/index.css" rel="stylesheet">
    <link href="../css/matrix.css" rel="stylesheet">
    <link href="../css/service.css" rel="stylesheet">
    <!--Eng asosiy stylelar-->
    <style>
        html, body, head{
            background-color:rgb(29, 35, 35)!important;
            overflow-x: hidden!important;
            position: relative;
            width:100vw;
            color:#fff;
            font-family:"Kode Mono", monospace;
            
        }
    </style>
</head>
<body>
    <!--576px dan kichik devayslar uchun pastgi navbar-->
    <div id="small-navbar" class="small-navbar fixed-bottom">
        <div class="bottom-navbar">
            <div class="row">
                <!--
                <div class="col">
                    <a href="#" class="bottom-nav-item">
                        <p>
                            <i class="fa-solid fa-house"></i>
                            <br>
                            <code>Home</code>
                        </p> 
                    </a>
                </div>
                -->
                <div class="col">
                    <a href="#" class="bottom-nav-item">
                        <p>
                            <i class="fa-solid fa-computer"></i>
                            <br>
                            <code>Service</code>
                        </p>
                    </a>
                </div>
                <div class="col">
                    <a href="#" class="bottom-nav-item">
                        <p>
                            <i class="fa-solid fa-file"></i>
                            <br>
                            <code>Resume</code>
                        </p>
                    </a>
                </div>
                <div class="col">
                    <a href="#" class="bottom-nav-item">
                        <p>
                            <i class="fa-solid fa-briefcase"></i>
                            <br>
                            <code>Portfolio</code>
                        </p>
                    </a>
                </div>
                <div class="col">
                    <a href="#" class="bottom-nav-item">
                        <p>
                            <i class="fa-solid fa-hashtag"></i>
                            <br>
                            <code>Blog</code>
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--END-->
    <!--Navbar-section-->
        <div class="navbar-section">
            <nav class="navbar navbar-expand-md navbar-section">
                <div class="container-fluid">
                    <a class="navbar-brand navbar-user" href="#">
                        <div class="navbar-logo">
                            <img src="../media/NavruzBRO.jpg" alt="NavruzBRO photo">
                        </div>
                        <div class="navbar-user-name">
                            <p>NavruzBRO</p>
                            <br>
                            <span>Software Engineer</span>
                        </div>
                  </a>
                  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa-solid fa-bars fa-xxl"></i>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link nav-link-active" aria-current="page" href="#">
                            Home
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">
                            Service
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">
                            Resume
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">
                            Portfolio
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">
                            Blog
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
        </div>
     <!--Body section-->

     <!--Matrix animate-->
    
    <div class="container-fluid p-absolute z-index-2 ">
        <div class="row">
        <div class="col-12 col-md-6">
                <!--1-->
            <div class="row">
                <div class="col matrix-animate">
                    <span>0</span>
                </div>
                <div class="col matrix-animate1">
                    <span>1</span>
                </div>
                <div class="col matrix-animate">
                    <span>0</span>
                </div>
                <div class="col matrix-animate1">
                    <span>1</span>
                </div>
                <div class="col matrix-animate">
                    <span>0</span>
                </div>
                <div class="col matrix-animate1">
                    <span>1</span>
                </div>
                <div class="col matrix-animate">
                    <span>0</span>
                </div>
                <div class="col matrix-animate1">
                    <span>1</span>
                </div>
                <div class="col matrix-animate">
                    <span>0</span>
                </div>
                <div class="col matrix-animate1 matrix-res-none">
                    <span>1</span>
                </div>
                <div class="col matrix-animate matrix-res-none">
                    <span>0</span>
                </div>
                <div class="col matrix-animate1 matrix-res-none">
                    <span>1</span>
                </div>
            </div>
            <!--2-->
            <div class="row">
                
                <div class="col matrix-animate1">
                    <span>1</span>
                </div>
                <div class="col matrix-animate">
                    <span>0</span>
                </div>
                <div class="col matrix-animate1">
                    <span>1</span>
                </div>
                <div class="col matrix-animate">
                    <span>0</span>
                </div>
                <div class="col matrix-animate1">
                    <span>1</span>
                </div>
                <div class="col matrix-animate">
                    <span>0</span>
                </div>
                <div class="col matrix-animate1">
                    <span>1</span>
                </div>
                <div class="col matrix-animate">
                    <span>0</span>
                </div>
                <div class="col matrix-animate1">
                    <span>1</span>
                </div>
                <div class="col matrix-animate matrix-res-none">
                    <span>0</span>
                </div>
                <div class="col matrix-animate1 matrix-res-none ">
                    <span>1</span>
                </div>
                <div class="col matrix-animate matrix-res-none">
                    <span>0</span>
                </div>
            </div>
            <!--3-->
            <div class="row">
                <div class="col matrix-animate">
                    <span></span>
                </div>
                <div class="col matrix-animate1">
                    <span>1</span>
                </div>
                <div class="col matrix-animate">
                    <span>0</span>
                </div>
                <div class="col matrix-animate1">
                    <span>1</span>
                </div>
                <div class="col matrix-animate">
                    <span>0</span>
                </div>
                <div class="col matrix-animate1">
                    <span></span>
                </div>
                <div class="col matrix-animate">
                    <span>0</span>
                </div>
                <div class="col matrix-animate1">
                    <span>1</span>
                </div>
                <div class="col matrix-animate">
                    <span>0</span>
                </div>
                <div class="col matrix-animate1 matrix-res-none">
                    <span>1</span>
                </div>
                <div class="col matrix-animate matrix-res-none">
                    <span>0</span>
                </div>
                <div class="col matrix-animate1 matrix-res-none ">
                    <span>1</span>
                </div>
            </div>
            <!--4-->
            <div class="row">
                
                <div class="col matrix-animate1">
                    <span></span>
                </div>
                <div class="col matrix-animate">
                    <span>0</span>
                </div>
                <div class="col matrix-animate1">
                    <span>1</span>
                </div>
                <div class="col matrix-animate">
                    <span>0</span>
                </div>
                <div class="col matrix-animate1">
                    <span>1</span>
                </div>
                <div class="col matrix-animate">
                    <span></span>
                </div>
                <div class="col matrix-animate1">
                    <span>1</span>
                </div>
                <div class="col matrix-animate">
                    <span></span>
                </div>
                <div class="col matrix-animate1">
                    <span>1</span>
                </div>
                <div class="col matrix-animate matrix-res-none">
                    <span>0</span>
                </div>
                <div class="col matrix-animate1  matrix-res-none">
                    <span>1</span>
                </div>
                <div class="col matrix-animate matrix-res-none">
                    <span>0</span>
                </div>
            </div>
            <!--5-->
            <div class="row">
                <div class="col matrix-animate">
                    <span></span>
                </div>
                <div class="col matrix-animate1">
                    <span>1</span>
                </div>
                <div class="col matrix-animate">
                    <span>0</span>
                </div>
                <div class="col matrix-animate1">
                    <span>1</span>
                </div>
                <div class="col matrix-animate">
                    <span>0</span>
                </div>
                <div class="col matrix-animate1">
                    <span></span>
                </div>
                <div class="col matrix-animate">
                    <span>0</span>
                </div>
                <div class="col matrix-animate1">
                    <span></span>
                </div>
                <div class="col matrix-animate">
                    <span>0</span>
                </div>
                <div class="col matrix-animate1 matrix-res-none">
                    <span>1</span>
                </div>
                <div class="col matrix-animate matrix-res-none">
                    <span>0</span>
                </div>
                <div class="col matrix-animate1 matrix-res-none ">
                    <span>1</span>
                </div>
            </div>
            <!--6-->
            <div class="row">
                
                <div class="col matrix-animate1">
                    <span></span>
                </div>
                <div class="col matrix-animate">
                    <span>0</span>
                </div>
                <div class="col matrix-animate1">
                    <span>1</span>
                </div>
                <div class="col matrix-animate">
                    <span>0</span>
                </div>
                <div class="col matrix-animate1">
                    <span>1</span>
                </div>
                <div class="col matrix-animate">
                    <span></span>
                </div>
                <div class="col matrix-animate1">
                    <span>1</span>
                </div>
                <div class="col matrix-animate">
                    <span></span>
                </div>
                <div class="col matrix-animate1">
                    <span>1</span>
                </div>
                <div class="col matrix-animate matrix-res-none">
                    <span>0</span>
                </div>
                <div class="col matrix-animate1  matrix-res-none">
                    <span>1</span>
                </div>
                <div class="col matrix-animate matrix-res-none">
                    <span>0</span>
                </div>
            </div>
            <!--7-->
            <div class="row">
                <div class="col matrix-animate">
                    <span></span>
                </div>
                <div class="col matrix-animate1">
                    <span></span>
                </div>
                <div class="col matrix-animate">
                    <span>0</span>
                </div>
                <div class="col matrix-animate1">
                    <span>1</span>
                </div>
                <div class="col matrix-animate">
                    <span>0</span>
                </div>
                <div class="col matrix-animate1">
                    <span></span>
                </div>
                <div class="col matrix-animate">
                    <span>0</span>
                </div>
                <div class="col matrix-animate1">
                    <span></span>
                </div>
                <div class="col matrix-animate">
                    <span>0</span>
                </div>
                <div class="col matrix-animate1 matrix-res-none">
                    <span>1</span>
                </div>
                <div class="col matrix-animate matrix-res-none">
                    <span>0</span>
                </div>
                <div class="col matrix-animate1 matrix-res-none ">
                    <span></span>
                </div>
            </div>
            <!--8-->
            <div class="row">
                
                <div class="col matrix-animate1">
                    <span></span>
                </div>
                <div class="col matrix-animate">
                    <span></span>
                </div>
                <div class="col matrix-animate1">
                    <span>1</span>
                </div>
                <div class="col matrix-animate">
                    <span>0</span>
                </div>
                <div class="col matrix-animate1">
                    <span></span>
                </div>
                <div class="col matrix-animate">
                    <span></span>
                </div>
                <div class="col matrix-animate1">
                    <span>1</span>
                </div>
                <div class="col matrix-animate">
                    <span></span>
                </div>
                <div class="col matrix-animate1">
                    <span>1</span>
                </div>
                <div class="col matrix-animate matrix-res-none">
                    <span></span>
                </div>
                <div class="col matrix-animate1  matrix-res-none">
                    <span>1</span>
                </div>
                <div class="col matrix-animate matrix-res-none">
                    <span></span>
                </div>
            </div>
            <!--9-->
            <div class="row">
                <div class="col matrix-animate">
                    <span></span>
                </div>
                <div class="col matrix-animate1">
                    <span></span>
                </div>
                <div class="col matrix-animate">
                    <span></span>
                </div>
                <div class="col matrix-animate1">
                    <span>1</span>
                </div>
                <div class="col matrix-animate">
                    <span></span>
                </div>
                <div class="col matrix-animate1">
                    <span></span>
                </div>
                <div class="col matrix-animate">
                    <span>0</span>
                </div>
                <div class="col matrix-animate1">
                    <span></span>
                </div>
                <div class="col matrix-animate">
                    <span>0</span>
                </div>
                <div class="col matrix-animate1 matrix-res-none">
                    <span></span>
                </div>
                <div class="col matrix-animate matrix-res-none">
                    <span>0</span>
                </div>
                <div class="col matrix-animate1 matrix-res-none ">
                    <span></span>
                </div>
            </div>
            <!--10-->
            <div class="row">
                
                <div class="col matrix-animate1">
                    <span></span>
                </div>
                <div class="col matrix-animate">
                    <span></span>
                </div>
                <div class="col matrix-animate1">
                    <span></span>
                </div>
                <div class="col matrix-animate">
                    <span>0</span>
                </div>
                <div class="col matrix-animate1">
                    <span></span>
                </div>
                <div class="col matrix-animate">
                    <span></span>
                </div>
                <div class="col matrix-animate1">
                    <span></span>
                </div>
                <div class="col matrix-animate">
                    <span></span>
                </div>
                <div class="col matrix-animate1">
                    <span>1</span>
                </div>
                <div class="col matrix-animate matrix-res-none">
                    <span></span>
                </div>
                <div class="col matrix-animate1  matrix-res-none">
                    <span></span>
                </div>
                <div class="col matrix-animate matrix-res-none">
                    <span></span>
                </div>
            </div>
            <!--11-->
            <div class="row">
                <div class="col matrix-animate">
                    <span></span>
                </div>
                <div class="col matrix-animate1">
                    <span></span>
                </div>
                <div class="col matrix-animate">
                    <span></span>
                </div>
                <div class="col matrix-animate1">
                    <span>1</span>
                </div>
                <div class="col matrix-animate">
                    <span></span>
                </div>
                <div class="col matrix-animate1">
                    <span></span>
                </div>
                <div class="col matrix-animate">
                    <span></span>
                </div>
                <div class="col matrix-animate1">
                    <span></span>
                </div>
                <div class="col matrix-animate">
                    <span>0</span>
                </div>
                <div class="col matrix-animate1 matrix-res-none">
                    <span></span>
                </div>
                <div class="col matrix-animate matrix-res-none">
                    <span></span>
                </div>
                <div class="col matrix-animate1 matrix-res-none ">
                    <span></span>
                </div>
            </div>
            <!--12-->
            <div class="row">
                
                <div class="col matrix-animate1">
                    <span></span>
                </div>
                <div class="col matrix-animate">
                    <span></span>
                </div>
                <div class="col matrix-animate1">
                    <span></span>
                </div>
                <div class="col matrix-animate">
                    <span>0</span>
                </div>
                <div class="col matrix-animate1">
                    <span></span>
                </div>
                <div class="col matrix-animate">
                    <span></span>
                </div>
                <div class="col matrix-animate1">
                    <span></span>
                </div>
                <div class="col matrix-animate">
                    <span></span>
                </div>
                <div class="col matrix-animate1">
                    <span></span>
                </div>
                <div class="col matrix-animate matrix-res-none">
                    <span></span>
                </div>
                <div class="col matrix-animate1  matrix-res-none">
                    <span></span>
                </div>
                <div class="col matrix-animate matrix-res-none">
                    <span></span>
                </div>
            </div>
            <!--13-->
            <div class="row">
                <div class="col matrix-animate">
                    <span></span>
                </div>
                <div class="col matrix-animate1">
                    <span></span>
                </div>
                <div class="col matrix-animate">
                    <span></span>
                </div>
                <div class="col matrix-animate1">
                    <span>1</span>
                </div>
                <div class="col matrix-animate">
                    <span></span>
                </div>
                <div class="col matrix-animate1">
                    <span></span>
                </div>
                <div class="col matrix-animate">
                    <span></span>
                </div>
                <div class="col matrix-animate1">
                    <span></span>
                </div>
                <div class="col matrix-animate">
                    <span></span>
                </div>
                <div class="col matrix-animate1 matrix-res-none">
                    <span></span>
                </div>
                <div class="col matrix-animate matrix-res-none">
                    <span></span>
                </div>
                <div class="col matrix-animate1 matrix-res-none ">
                    <span></span>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 sm-nonee">
            <!--1-->
        <div class="row">
            <div class="col matrix-animate">
                <span>0</span>
            </div>
            <div class="col matrix-animate1">
                <span>1</span>
            </div>
            <div class="col matrix-animate">
                <span>0</span>
            </div>
            <div class="col matrix-animate1">
                <span>1</span>
            </div>
            <div class="col matrix-animate">
                <span>0</span>
            </div>
            <div class="col matrix-animate1">
                <span>1</span>
            </div>
            <div class="col matrix-animate">
                <span>0</span>
            </div>
            <div class="col matrix-animate1">
                <span>1</span>
            </div>
            <div class="col matrix-animate">
                <span>0</span>
            </div>
            <div class="col matrix-animate1 matrix-res-none">
                <span>1</span>
            </div>
            <div class="col matrix-animate matrix-res-none">
                <span>0</span>
            </div>
            <div class="col matrix-animate1 matrix-res-none">
                <span>1</span>
            </div>
        </div>
        <!--2-->
        <div class="row">
            
            <div class="col matrix-animate1">
                <span>1</span>
            </div>
            <div class="col matrix-animate">
                <span>0</span>
            </div>
            <div class="col matrix-animate1">
                <span>1</span>
            </div>
            <div class="col matrix-animate">
                <span>0</span>
            </div>
            <div class="col matrix-animate1">
                <span>1</span>
            </div>
            <div class="col matrix-animate">
                <span>0</span>
            </div>
            <div class="col matrix-animate1">
                <span>1</span>
            </div>
            <div class="col matrix-animate">
                <span>0</span>
            </div>
            <div class="col matrix-animate1">
                <span>1</span>
            </div>
            <div class="col matrix-animate matrix-res-none">
                <span>0</span>
            </div>
            <div class="col matrix-animate1 matrix-res-none ">
                <span>1</span>
            </div>
            <div class="col matrix-animate matrix-res-none">
                <span>0</span>
            </div>
        </div>
        <!--3-->
        <div class="row">
            <div class="col matrix-animate">
                <span></span>
            </div>
            <div class="col matrix-animate1">
                <span>1</span>
            </div>
            <div class="col matrix-animate">
                <span>0</span>
            </div>
            <div class="col matrix-animate1">
                <span>1</span>
            </div>
            <div class="col matrix-animate">
                <span>0</span>
            </div>
            <div class="col matrix-animate1">
                <span></span>
            </div>
            <div class="col matrix-animate">
                <span>0</span>
            </div>
            <div class="col matrix-animate1">
                <span>1</span>
            </div>
            <div class="col matrix-animate">
                <span>0</span>
            </div>
            <div class="col matrix-animate1 matrix-res-none">
                <span>1</span>
            </div>
            <div class="col matrix-animate matrix-res-none">
                <span>0</span>
            </div>
            <div class="col matrix-animate1 matrix-res-none ">
                <span>1</span>
            </div>
        </div>
        <!--4-->
        <div class="row">
            
            <div class="col matrix-animate1">
                <span></span>
            </div>
            <div class="col matrix-animate">
                <span>0</span>
            </div>
            <div class="col matrix-animate1">
                <span>1</span>
            </div>
            <div class="col matrix-animate">
                <span>0</span>
            </div>
            <div class="col matrix-animate1">
                <span>1</span>
            </div>
            <div class="col matrix-animate">
                <span></span>
            </div>
            <div class="col matrix-animate1">
                <span>1</span>
            </div>
            <div class="col matrix-animate">
                <span></span>
            </div>
            <div class="col matrix-animate1">
                <span>1</span>
            </div>
            <div class="col matrix-animate matrix-res-none">
                <span>0</span>
            </div>
            <div class="col matrix-animate1  matrix-res-none">
                <span>1</span>
            </div>
            <div class="col matrix-animate matrix-res-none">
                <span>0</span>
            </div>
        </div>
        <!--5-->
        <div class="row">
            <div class="col matrix-animate">
                <span></span>
            </div>
            <div class="col matrix-animate1">
                <span>1</span>
            </div>
            <div class="col matrix-animate">
                <span>0</span>
            </div>
            <div class="col matrix-animate1">
                <span>1</span>
            </div>
            <div class="col matrix-animate">
                <span>0</span>
            </div>
            <div class="col matrix-animate1">
                <span></span>
            </div>
            <div class="col matrix-animate">
                <span>0</span>
            </div>
            <div class="col matrix-animate1">
                <span></span>
            </div>
            <div class="col matrix-animate">
                <span>0</span>
            </div>
            <div class="col matrix-animate1 matrix-res-none">
                <span>1</span>
            </div>
            <div class="col matrix-animate matrix-res-none">
                <span>0</span>
            </div>
            <div class="col matrix-animate1 matrix-res-none ">
                <span>1</span>
            </div>
        </div>
        <!--6-->
        <div class="row">
            
            <div class="col matrix-animate1">
                <span></span>
            </div>
            <div class="col matrix-animate">
                <span>0</span>
            </div>
            <div class="col matrix-animate1">
                <span>1</span>
            </div>
            <div class="col matrix-animate">
                <span>0</span>
            </div>
            <div class="col matrix-animate1">
                <span>1</span>
            </div>
            <div class="col matrix-animate">
                <span></span>
            </div>
            <div class="col matrix-animate1">
                <span>1</span>
            </div>
            <div class="col matrix-animate">
                <span></span>
            </div>
            <div class="col matrix-animate1">
                <span>1</span>
            </div>
            <div class="col matrix-animate matrix-res-none">
                <span>0</span>
            </div>
            <div class="col matrix-animate1  matrix-res-none">
                <span>1</span>
            </div>
            <div class="col matrix-animate matrix-res-none">
                <span>0</span>
            </div>
        </div>
        <!--7-->
        <div class="row">
            <div class="col matrix-animate">
                <span></span>
            </div>
            <div class="col matrix-animate1">
                <span></span>
            </div>
            <div class="col matrix-animate">
                <span>0</span>
            </div>
            <div class="col matrix-animate1">
                <span>1</span>
            </div>
            <div class="col matrix-animate">
                <span>0</span>
            </div>
            <div class="col matrix-animate1">
                <span></span>
            </div>
            <div class="col matrix-animate">
                <span>0</span>
            </div>
            <div class="col matrix-animate1">
                <span></span>
            </div>
            <div class="col matrix-animate">
                <span>0</span>
            </div>
            <div class="col matrix-animate1 matrix-res-none">
                <span>1</span>
            </div>
            <div class="col matrix-animate matrix-res-none">
                <span>0</span>
            </div>
            <div class="col matrix-animate1 matrix-res-none ">
                <span></span>
            </div>
        </div>
        <!--8-->
        <div class="row">
            
            <div class="col matrix-animate1">
                <span></span>
            </div>
            <div class="col matrix-animate">
                <span></span>
            </div>
            <div class="col matrix-animate1">
                <span>1</span>
            </div>
            <div class="col matrix-animate">
                <span>0</span>
            </div>
            <div class="col matrix-animate1">
                <span></span>
            </div>
            <div class="col matrix-animate">
                <span></span>
            </div>
            <div class="col matrix-animate1">
                <span>1</span>
            </div>
            <div class="col matrix-animate">
                <span></span>
            </div>
            <div class="col matrix-animate1">
                <span>1</span>
            </div>
            <div class="col matrix-animate matrix-res-none">
                <span></span>
            </div>
            <div class="col matrix-animate1  matrix-res-none">
                <span>1</span>
            </div>
            <div class="col matrix-animate matrix-res-none">
                <span></span>
            </div>
        </div>
        <!--9-->
        <div class="row">
            <div class="col matrix-animate">
                <span></span>
            </div>
            <div class="col matrix-animate1">
                <span></span>
            </div>
            <div class="col matrix-animate">
                <span></span>
            </div>
            <div class="col matrix-animate1">
                <span>1</span>
            </div>
            <div class="col matrix-animate">
                <span></span>
            </div>
            <div class="col matrix-animate1">
                <span></span>
            </div>
            <div class="col matrix-animate">
                <span>0</span>
            </div>
            <div class="col matrix-animate1">
                <span></span>
            </div>
            <div class="col matrix-animate">
                <span>0</span>
            </div>
            <div class="col matrix-animate1 matrix-res-none">
                <span></span>
            </div>
            <div class="col matrix-animate matrix-res-none">
                <span>0</span>
            </div>
            <div class="col matrix-animate1 matrix-res-none ">
                <span></span>
            </div>
        </div>
        <!--10-->
        <div class="row">
            
            <div class="col matrix-animate1">
                <span></span>
            </div>
            <div class="col matrix-animate">
                <span></span>
            </div>
            <div class="col matrix-animate1">
                <span></span>
            </div>
            <div class="col matrix-animate">
                <span>0</span>
            </div>
            <div class="col matrix-animate1">
                <span></span>
            </div>
            <div class="col matrix-animate">
                <span></span>
            </div>
            <div class="col matrix-animate1">
                <span></span>
            </div>
            <div class="col matrix-animate">
                <span></span>
            </div>
            <div class="col matrix-animate1">
                <span>1</span>
            </div>
            <div class="col matrix-animate matrix-res-none">
                <span></span>
            </div>
            <div class="col matrix-animate1  matrix-res-none">
                <span></span>
            </div>
            <div class="col matrix-animate matrix-res-none">
                <span></span>
            </div>
        </div>
        <!--11-->
        <div class="row">
            <div class="col matrix-animate">
                <span></span>
            </div>
            <div class="col matrix-animate1">
                <span></span>
            </div>
            <div class="col matrix-animate">
                <span></span>
            </div>
            <div class="col matrix-animate1">
                <span>1</span>
            </div>
            <div class="col matrix-animate">
                <span></span>
            </div>
            <div class="col matrix-animate1">
                <span></span>
            </div>
            <div class="col matrix-animate">
                <span></span>
            </div>
            <div class="col matrix-animate1">
                <span></span>
            </div>
            <div class="col matrix-animate">
                <span>0</span>
            </div>
            <div class="col matrix-animate1 matrix-res-none">
                <span></span>
            </div>
            <div class="col matrix-animate matrix-res-none">
                <span></span>
            </div>
            <div class="col matrix-animate1 matrix-res-none ">
                <span></span>
            </div>
        </div>
        <!--12-->
        <div class="row">
            
            <div class="col matrix-animate1">
                <span></span>
            </div>
            <div class="col matrix-animate">
                <span></span>
            </div>
            <div class="col matrix-animate1">
                <span></span>
            </div>
            <div class="col matrix-animate">
                <span>0</span>
            </div>
            <div class="col matrix-animate1">
                <span></span>
            </div>
            <div class="col matrix-animate">
                <span></span>
            </div>
            <div class="col matrix-animate1">
                <span></span>
            </div>
            <div class="col matrix-animate">
                <span></span>
            </div>
            <div class="col matrix-animate1">
                <span></span>
            </div>
            <div class="col matrix-animate matrix-res-none">
                <span></span>
            </div>
            <div class="col matrix-animate1  matrix-res-none">
                <span></span>
            </div>
            <div class="col matrix-animate matrix-res-none">
                <span></span>
            </div>
        </div>
        <!--13-->
        <div class="row">
            <div class="col matrix-animate">
                <span></span>
            </div>
            <div class="col matrix-animate1">
                <span></span>
            </div>
            <div class="col matrix-animate">
                <span></span>
            </div>
            <div class="col matrix-animate1">
                <span>1</span>
            </div>
            <div class="col matrix-animate">
                <span></span>
            </div>
            <div class="col matrix-animate1">
                <span></span>
            </div>
            <div class="col matrix-animate">
                <span></span>
            </div>
            <div class="col matrix-animate1">
                <span></span>
            </div>
            <div class="col matrix-animate">
                <span></span>
            </div>
            <div class="col matrix-animate1 matrix-res-none">
                <span></span>
            </div>
            <div class="col matrix-animate matrix-res-none">
                <span></span>
            </div>
            <div class="col matrix-animate1 matrix-res-none ">
                <span></span>
            </div>
        </div>
        </div>
    </div>

    </div>
     
  
   
   <!--Main section-->
  <div id="top" class="container">
    <div class="main-section">
        <div class="row">
            <div class="col-12 col-md-6 main-text-box">
                <div class="main-text f-kode">
                    <h2 style="font-size: calc(1.325rem + .9vw);" class="txt-green-white">Web sayt yaratish:<span class="txt-green">&nbsp;Brendingizni butun O'zbekistonga taniting!</span> </h2>
                </div>
                <div class="">
                    <div class="main-site-text">
                        <p >
                            <i class="fa-solid fa-code"></i>
                            <br>
                            <i class="fa-brands fa-python"></i>
                        </p>
                        <p id="d432">
                            <i class="fa-solid fa-laptop"></i>
                            <br>
                            <i class="fa-solid fa-arrow-trend-up"></i>
                        </p>
                        
                        <p class="f-kode txt-green-white-none">
                        Web sayt sizga bo'lgan ishonchni <span class="txt-green-none">97%</span> ga oshiradi. Web sayt yaratish borasida bizga murojat qiling!<span class="txt-green-none" > Tezkor, ishonchli va hamyonbop.</span>
                        </p>
                    </div>
                    <p>
                        <a href="#" class="butn">
                        Murojaat qilish&nbsp;<i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="main-section-img">
                    <img src="../media/hacker-for-background.jpeg" alt="NAVRUZ BRO DEVELOPER" >
                </div>
            </div>
        </div>
    </div>
    <div class="my-5 second-section">
        <div class="row">
            <div class="col-md-4 scnd-sctn-img">
                <div class="second-section-img">
                    <img src="../media/earth-matrix.webp" alt="Yer rasmi">
                </div>
            </div>
            <div class="col-12 col-md-8">
                <div class="second-section-text mx-3 mx-md-1">
                    <h3 class="txt-green-white">Nima uchun Web sayt? Agar siz</h3>
                    <br>
                    <p class="txt-green" >
                        <i class="fa-solid fa-check"></i>&nbsp;Zamon bilan hamnafas bo'lib, <span class="txt-green-white">raqobatdoshlaringizni</span>  ortda qoldirmoqchi bo'lsangiz!
                    </p>
                    <p class="txt-green">
                        <i class="fa-solid fa-check"></i>&nbsp;O'z xizmatlaringizni to'xtovsiz <span class="txt-green-white">24/7</span> taqdim qilmoqchi bo'lsangiz!
                    </p>
                    <p class="txt-green">
                        <i class="fa-solid fa-check"></i>&nbsp;Mahsulotingizni <span class="txt-green-white">butun O'zbekiston</span>  bo'ylab sotmoqchi bo'lsangiz!
                    </p>
                    <p class="txt-green">
                        <i class="fa-solid fa-check"></i>&nbsp;Keyingi 10 yillikda bozordagi o'rningizni qat'iy belgilamoqchi bo'lsangiz!
                    </p>
                    <p class="txt-green">
                        <i class="fa-solid fa-check"></i>&nbsp;<span class="txt-green-white">Ishongchingizni va xaridlaringizni</span> 90%ga oshirmoqchi bo'lsangiz!
                    </p>

                    <h5 class="txt-green-white">Sizga web sayt hoziroq kerak va siz ayni joyidasiz!</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="my-5 third-section">
        <div class="row">
            <div class="col-12">
                <div class="third-section-text mx-3 mx-md-1">
                    <h2 class="txt-green-white ">
                        Nima uchun aynan biz?
                    </h2>
                    <br>
                    <p class="txt-green">
                        <span class="txt-green-white">
                            Kuchli backend
                        </span><br>
                        Biz sizga oddiy sayt varaqlarini emas. Kuchli algoritmlar bilan tuzilgan sayt taqdim etamiz!</p>
                    <p class="txt-green">
                        <span class="txt-green-white">
                            Narxlarimiz arzon
                        </span><br>
                        Bizning narxlar bozorga nisbatan ancha arzon! Lekin sifati past degani emas. Yangi va kam byujjet bilan biznes boshlayotgan bo'lsangiz hamyonbop narx ayni muddao. 
                    </p>
                    <p class="txt-green">
                        <span class="txt-green-white">
                            Sifatli dizayn
                        </span><br>
                        Sayt dizaynini ishni boshlashdan oldin tayyorlab sizga ko'rsatamiz, 
                        1oy keyin sizga umuman yoqmagan narsani emas!
                    </p>
                    <p class="txt-green">
                        <span class="txt-green-white">
                           Mukammal Admin panel
                        </span><br>
                        Saytni topshirganimizdan so'ng uni faqat tomosha qilib emas! Uni mukammal darajada boshqarasiz. Boshqaruv juda tushunarli - xamirdan qil sug'urgandek.
                    </p>
                    <p class="txt-green">
                        <span class="txt-green-white">
                            Bir necha tilli sayt
                        </span><br>
                        Saytingizni har xil odamlar tashrif buyuradi. Xorijdan ham kiruvchilar bo'lishi mumkin. Shuning uchun ko'p tilli sayt bo'lgani muhim!
                    </p>
                    <p class="txt-green">
                        <span class="txt-green-white">
                            Sayt siz hohlagandek bo'ladi
                        </span><br>
                        Sizning talablaringiz va hohishlaringiz albatta inobatga olinadi. 
                    </p>

                    <p class="txt-green-white">
                        Nimani kutyapsiz hoziroq murojaat qiling!
                    </p>
                    <a href="#" class="butn">
                        Murojaat qilish!
                    </a>
                </div>
                
            </div>
        </div>
    </div>

    <div class="my-5 fourth-section">
        <div class="row">
            <div class="col-12 my-2">
                <h2 class="txt-green-white">
                    Mening loyihalarim!
                </h2>
            </div>
            <div class="col-12 col-md-6 my-2">
                <div class="fourth-section-img">
                    
                            <a href="#" class="text-decoration-none carousel-item-img">
                                <img src="../media/project-kinomakon.png" class="d-block w-100" alt="...">
                                <div class="sepia"></div>
                                <h5 class="h4 txt-green txt-decoration-none">
                                    Kinomakon web sayti
                                </h5>
                            </a> 
                            
                    
                </div>
            </div>
            <div class="col-12 col-md-6 my-2">
                <div class="fourth-section-img">
                   
                            <a href="#" class="text-decoration-none carousel-item-img">
                                <img src="../media/project-kinomakon.png" class="d-block w-100" alt="...">
                                <div class="sepia"></div>
                                <h5 class="h4 txt-green txt-decoration-none">
                                    Kinomakon web sayti
                                </h5>
                            </a> 
                </div>
            </div>

            <div class="col-12 my-3">
                <p class="">
                    <a href="#" class="butn text-align-center txt-align-center">
                        Batafsil tanishish
                    </a>
                </p>
            </div>
        </div>
    </div>
  </div>

  

<div class="contact-us my-5 mx-2 mx-sm-1">
    
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <p class="txt-green">Hammasi maqul bo'lsa pastda Kontaktlarimizni qoldirib ketamiz!</p>
                <h4 class="txt-green-white">
                    Biz bilan bog'lanish
                </h4>
                <br>
                <p>
                    <span class="txt-green fw-200">
                        Contact us in this website:
                    </span>
                    <br>
                    <a href="#" class="butn my-2 d-inline-block">
                        &nbsp;Contact us&nbsp;<i class="fa-solid fa-globe"></i>
                    </a>
                    <br>
                    <br>
                    <span class="txt-green fw-200">
                        Telegram orqali:
                    </span>
                    <h5 class="txt-green fw-200">
                        <a href='http://t.me/navruzbro'  class="txt-decoration-none txt-green">
                            <i class="fa-brands fa-telegram"></i>&nbsp;@NavruzBRO
                        </a>
                    </h5>
                    <br>
                    <a href="http://t.me/navruzbro" class="butn ">
                        &nbsp;Bog'lanish&nbsp;<i class="fa-brands fa-telegram"></i>
                    </a>
                    <br><br>
                    <code class="txt-green-dark">
                        <i class="fa-solid fa-circle-exclamation"></i>
                        &nbsp; Eslatma: Telegram orqali murojaat qilsangiz. Tezroq javob olasiz!
                    </code>
                </p>
            </div>
            <div class="col-12 col-md-6">

            </div>
        </div>
    </div>
</div>  

<footer class="footer-section mt-5 px-3 py-5">
    <div class="container-fluid">
        <div class="row f-kode">
            <div class="col-lg-3 col-12 my-3">
                <h6 class="txt-center-lg txt-green"><a class="txt-green txt-decoration-none" href="http://navruzbro.uz" target="_blank">NavruzBRO.uz - 2024</a></h2>
            </div>
            <div class="col-lg-5 col-12 my-3">
                <div class="row ">
                    <div class="col f-kode">
                        <code class="f-kode"><a href="#" class="txt-decoration-none txt-green">Home</a> </code>
                    </div>
                    <div class="col f-kode">
                        <code class="f-kode"><a href="#" class="txt-decoration-none txt-green">Service</a> </code>
                    </div>
                    <div class="col f-kode">
                        <code class="f-kode"><a href="#" class="txt-decoration-none txt-green">Resume</a> </code>
                    </div>
                    <div class="col f-kode">
                        <code class="f-kode"><a href="#" class="txt-decoration-none txt-green">Portfolio</a> </code>  
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-12 txt-center-lg-right my-3">
                <code class="f-kode"><a href="#top" class="f-kode txt-decoration-none txt-green">Yuqoriga&nbsp;<i class="fa-solid fa-up-long"></i></a> </code>  
            </div>
            <br>
            <div class="col-12 my-4">
                <h5 class="txt-center txt-green txt-decoration-none">
                    <a href="http://t.me/cyberasia" target="_blank" class="txt-decoration-none  txt-green py-5 px-2">
                        <i class="fa-brands fa-telegram"></i>
                    </a>
                   
                    <a href="http://github.com/navruzbro" target="_blank" class="txt-decoration-none txt-green py-5 px-2"  >
                        <i class="fa-brands fa-github"></i>
                    </a>
                    <a href="http://instagram.com/navruzbro_" target="_blank" class="txt-decoration-none txt-green py-5 px-2">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/navruzbro/" target="_blank" class="txt-green txt-decoration-none py-5 px-2">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                </h5>
            </div>
        </div>
    </div>
</footer>
  

  <!--Bootstrap JS files-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>